.title{
    position: relative;

    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--ff-primary );
    font-weight: 700;
    z-index: 0;
}
.title__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 1.8em;
    z-index: 1;
}
.title__backtitle{
    font-size: 3.3em;
    opacity: .5;
    text-shadow: 
        -1px -1px 2px var(--border-color),  
        1px -1px 2px var(--border-color),
        -1px  1px 2px var(--border-color),
        1px  1px 2px var(--border-color);
}